.weatherDataCont {
    padding: 10px;
    width: 100%;
    line-height: 25px;
    background-color: darkcyan;
    border-radius: 20px;
}

.weatherExtraCont {
    width: 60%;
    display: inline-block;
}

.weatherTempConte {
    display: inline-block;
    width: 40%;
}

.weatherExtraConte {
    display: inline-block;
}


.extraInfoText {
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.weatherTempCont {
    align-content: space-around;
}

.tempDisplay {
    display: inline-block;
    margin-top: 10px;
}

.temperature {
    font-size: 25px;
    font-weight: bold;
    color: darkslategrey;
}

.temperatureType {
    font-weight: bold;
    color: coral;
    font-size: 20px;
}

.wicon {
    display: inline-block;
    color: coral;
    margin-top: 5px;

}