@media (max-width: 64em) {
    .locationList {
        max-height: 88vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecastExtendedCont{
    height: 88vh;
    padding: 15px;
}

.forecast-title{
    color:white;
    font-size: 2em;
}

